<a class="sr-only focus:not-sr-only text-black" href="#content">{{ _e( 'Skip to content') }}</a>
<header class="header bg-primary sm:flex sm:justify-between relative">

  {% block header %}
    <section class="arbc-container py-4 justify-between">
        <a class="self-center" href="{{ site.url }}" rel="home">
          <span class="hidden md:block text-black uppercase">Austin Ridge Bible Church</span>
          <img class="block md:hidden h-8 w-auto" src="{{ site.theme.link }}/assets/images/logos/logo.svg" alt="Austin Ridge Bible Church logo">
        </a>
        <nav id="nav-main" class="navbar" role="navigation">
          <div class="">
            {% include "partial/menu.twig" with { 'menu': primary_menu.get_items } %}
          </div>
        </nav><!-- #nav -->
    </section>

  {% endblock %}
</header>

