{% if menu %}

	<ul class="flex">
	{% for item in menu %}
		<li class="nav-item flex-fill {{ item.classes | join(' ') }}">
			<a class="text-xl uppercase border-8 border-transparent bg-transparent font-bold text-black" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
		</li>
	{% endfor %}
	</ul>

{% endif %}

