<header>
    <section>
        <div class="container mx-auto flex justify-between">
            <div>logo</div>
            <div>filter by category</div>
        </div>
    </section>
    <div class="absolute w-full text-center">
        <h1 class="text-3xl lowercase">{{ site.name }}</h1>
    </div>
</header>
