<header class="absolute w-full z-10 pt-8">
    <section>
        <div class="container mx-auto flex justify-between">
            <a href="{{ site.url }}"><img class="h-8 w-auto" src="{{ site.theme.link }}/assets/images/logos/logo.svg" alt="Austin Ridge Bible Church logo"></a>
            <select class="bg-transparent">
                <option>Filter by category</option>
                <option>Praise & Thanksgiving</option>
                <option>God Provided</option>
                <option>Trusting Without Resolution</option>
                <option>Miracle</option>
                <option>Healing Moment</option>
                <option>His Ways Are Perfect</option>
                <option>Walking In Faith</option>
            </select>
        </div>
    </section>
    <div class="absolute w-full text-center">
        <h1 class="text-3xl lowercase">{{ site.name }}</h1>
    </div>
</header>
