<footer class="footer">
  <div class="pt-48">
    <p class="text-primary"><small>&copy; {{"now"|date('Y')}} <a href="{{ site.url }}" class="text-decoration-none">{{ site.name }} &amp; Co. LLC</a></small></p>
  </div>
</footer>
