<footer class="footer bg-black">
  <div class="px-48 py-16">
    <p class="text-accent uppercase"><a href="{{ site.url }}" class="text-decoration-none">Austin Ridge Bible Church</a> &copy; {{"now"|date('Y')}}</p>
    <h3 class="text-3xl text-white"><a href="#">Bee Cave</a></h3>
    <h3 class="text-3xl text-white"><a href="#">Dripping Springs</a></h3>
    <h3 class="text-3xl text-white"><a href="#">Southwest</a></h3>
  </div>
</footer>
