{% extends "base.twig" %}

{% block content %}

    <section class="pt-48">
        <article class="container mx-auto flex justify-center">
            <div class="max-w-prose">
                <h1 class="text-9xl">{{ post.title }}</h1>
                <div class="text-3xl">{{ post.content }}</div>
            </div>
        </article>
    </section>

    {% if form %}
        <section>
            <div class="container mx-auto flex justify-center">
                {{ form }}
            </div>
        </section>
    {% endif %}

{% endblock %}
