@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
font-family: 'DM Serif Display', serif;
font-family: 'DM Serif Text', serif;
font-family: 'Inter', sans-serif;
*/

body {
  @apply text-black;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: 'DM Serif Display', serif;
}

h1 {
  @apply text-9xl;
}

h1.page-title {
  @apply text-primary uppercase text-4xl md:text-7xl font-medium;
}

h2 {
  @apply text-black text-3xl mb-0;
}

h3 {
  @apply text-black text-2xl font-bold mb-0;
}

p {
  @apply text-black;
}

a {
  @apply text-accent;
}

.article-body a {
  @apply underline;
}

.article-body a:hover {
  @apply text-secondary;
}

.gform_wrapper {
  @apply pt-36;
}

.gform_title {
  @apply text-7xl font-bold pl-24 relative z-10;
  line-height: .25;
}

form {
  @apply bg-accent w-screen p-24 relative;
  max-width: 960px;
}

form .ginput_container_textarea {
  @apply bg-white p-4 pb-8 mb-4;
}

form .ginput_container_textarea textarea {
  @apply bg-transparent w-full;
}

form #field_1_1 label,
form #field_3_1 label {
  @apply hidden;
}

fieldset#field_1_2 .gfield_label,
fieldset#field_3_2 .gfield_label {
  float: left;
  font-family: 'DM Serif Text', serif;
}

form .ginput_container.ginput_container_radio {
  clear: left;
}

form input[type=radio],
form input[type=checkbox] {
  border: none;
  background-color: #FBFAF3;
  padding: 0.5em;
  -webkit-appearance: none;
  margin-right: 8px;
}

form input[type=radio]:checked,
form input[type=checkbox]:checked {
  background-color: #3F3E3D;
}

form input[type=radio]:focus,
form input[type=checkbox]:focus {
  outline-color: transparent;
}

form .gfield_checkbox .gchoice {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding-right: 8px;
}

form fieldset {
  @apply pb-12;
}

form .gchoice label {
  @apply italic text-base;
}

form .gfield_label {
  @apply text-2xl pb-4;
  font-family: 'DM Serif Text', serif;
}

form .gfield_description {
  @apply text-base inline-block italic pl-2;
}

form .gfield_radio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

form .gfield_radio .gchoice {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding-right: 8px;
  padding-bottom: 16px;
}

form #field_1_4,
form #field_3_4 {
  @apply inline-block w-full;
  max-width: 400px;
}

form #field_1_5,
form #field_3_5 {
  @apply ml-4 inline-block;
}

form #field_1_5 .gfield_label,
form #field_3_5 .gfield_label,
form .gform_validation_container {
  @apply hidden;
}

form .ginput_container_text input[type=text],
form .ginput_container_email input[type=email] {
  @apply w-full p-2;
  max-width: 400px;
}

form #field_submit {
  @apply bg-white text-black inline absolute right-0 bottom-16 p-6 hover:cursor-pointer hover:bg-black hover:text-white;
}

body #gform_wrapper_1 #field_submit span:after,
body #gform_wrapper_3 #field_submit span:after,
.gform_wrapper form .gfield input#gform_submit_button_3 span:after {
  @apply text-black text-lg;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='14' fill='none' viewBox='0 0 30 14'%3E%3Cpath fill='%233F3E3D' d='M16.802 5.885H4.439L0 .065h12.19l4.612 5.82Zm0 1.871L12.234 13.6H.012l4.439-5.844h12.351ZM30 6.825c-1.5.688-2.92 1.654-4.216 2.868-1.113 1.05-2.06 2.377-2.788 3.907a6.307 6.307 0 0 1-.525-1.316 5.284 5.284 0 0 1-.186-1.39 6.813 6.813 0 0 1 .186-1.634 8.04 8.04 0 0 1 .525-1.545h-5.854V5.844h5.854a7.464 7.464 0 0 1-.525-1.52 6.897 6.897 0 0 1-.186-1.635c0-.466.063-.928.186-1.365.128-.471.305-.917.525-1.324.701 1.53 1.63 2.853 2.732 3.89 1.31 1.246 2.748 2.235 4.272 2.935Z'/%3E%3C/svg%3E%0A");
}

#field_submit:hover span:after {
  filter: invert(1);
}

body #gform_wrapper_1 #field_submit INPUT[type=submit],
body #gform_wrapper_3 #field_submit INPUT[type=submit] {
  @apply pr-4 text-4xl;
}

.word-count-wrapper {
  @apply italic text-sm;
}

.bg-praise-and-thanksgiving {
  @apply bg-cream;
}

.bg-trusting-without-resolution {
  @apply bg-blue;
}

.bg-healing-moment {
  @apply bg-primary;
}

.bg-his-ways-are-perfect {
  @apply bg-secondary;
}

.bg-god-provided {
  @apply bg-tertiary;
}

.bg-miracle {
  @apply bg-yellow;
}

.bg-walking-in-faith {
  @apply bg-white;
}
