@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
font-family: 'DM Serif Display', serif;
font-family: 'DM Serif Text', serif;
font-family: 'Inter', sans-serif;
*/

body {
  @apply text-black;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: 'DM Serif Display', serif;
}

h1 {
  @apply text-9xl;
}

h1.page-title {
  @apply text-primary uppercase text-4xl md:text-7xl font-medium;
}

h2 {
  @apply text-black text-3xl mb-0;
}

h3 {
  @apply text-black text-2xl font-bold mb-0;
}

p {
  @apply text-black;
}

a {
  @apply text-accent;
}

.pen-nav-item a:after {
  @apply pl-4 relative top-1;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='22' fill='none' viewBox='0 0 40 22'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%233F3E3D' d='M40 10.658c-2.949.526-5.955 2.74-9.02 6.64l-.13.17c-1.316 1.66-2.345 2.734-3.085 3.225a4.265 4.265 0 0 1-2.401.732 4.357 4.357 0 0 1-3.002-.968c-.724-.644-1.383-1.86-1.979-3.646a.304.304 0 0 0-.043-.11c-.82-2.451-1.819-3.678-2.998-3.681-.793 0-1.46.425-2 1.276l-.17.28a4.894 4.894 0 0 1-2.179 2.008c-.84.363-2.254.544-4.244.544h-.954c-3.082 0-5.15-.457-6.205-1.372-1.054-.915-1.583-2.6-1.586-5.055 0-2.44.533-4.117 1.6-5.032 1.066-.915 3.128-1.37 6.187-1.364h.954c1.957 0 3.368.187 4.222.553a4.976 4.976 0 0 1 2.205 2c.032.066.066.13.105.192a2.397 2.397 0 0 0 2.148 1.364c1.124 0 2.096-1.227 2.915-3.682l.043-.105c.599-1.786 1.258-3.003 1.979-3.651a4.357 4.357 0 0 1 3.002-.967 4.23 4.23 0 0 1 2.266.658 11.79 11.79 0 0 1 2.518 2.427c.34.412.81.993 1.407 1.743.743.99 1.553 1.93 2.423 2.81.86.8 1.826 1.476 2.872 2.009.994.489 2.056.826 3.15 1.002Zm-2.702.109c-.354-.215-1.35-.4-2.989-.553-1.638-.155-3.535-.236-5.69-.245h-.663a3.957 3.957 0 0 0-1.02-1.851 2.292 2.292 0 0 0-1.616-.637 2.614 2.614 0 0 0-2.043.872 3.338 3.338 0 0 0-.767 2.305 3.52 3.52 0 0 0 .788 2.362 2.545 2.545 0 0 0 2.03.902 2.254 2.254 0 0 0 1.587-.628 4.19 4.19 0 0 0 1.05-1.86h.662c2.31 0 4.253-.066 5.817-.192 1.565-.127 2.515-.279 2.854-.475Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h40v21.425H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.article-body a {
  @apply underline;
}

.article-body a:hover {
  @apply text-secondary;
}

.gform_wrapper {
  @apply pt-36;
}

.gform_title {
  @apply text-7xl font-bold pl-24 relative z-10;
  line-height: .25;
}

form#gform_3 {
  @apply bg-accent w-screen p-24 relative;
  max-width: 960px;
}

form#gform_3 .ginput_container_textarea {
  @apply bg-white p-4 pb-8 mb-4;
}

form .ginput_container_textarea textarea {
  @apply bg-transparent w-full;
}

form#gform_3 #field_1_1 label,
form#gform_3 #field_3_1 label {
  @apply hidden;
}

fieldset#field_1_2 .gfield_label,
fieldset#field_3_2 .gfield_label {
  float: left;
  font-family: 'DM Serif Text', serif;
}

form#gform_3 .ginput_container.ginput_container_radio {
  clear: left;
}

formform#gform_3 input[type=radio],
formform#gform_3 input[type=checkbox] {
  border: none;
  background-color: #FBFAF3;
  padding: 0.5em;
  -webkit-appearance: none;
  margin-right: 8px;
}

formform#gform_3 input[type=radio]:checked,
formform#gform_3 input[type=checkbox]:checked {
  background-color: #3F3E3D;
}

formform#gform_3 input[type=radio]:focus,
formform#gform_3 input[type=checkbox]:focus {
  outline-color: transparent;
}

formform#gform_3 .gfield_checkbox .gchoice {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding-right: 8px;
}

formform#gform_3 fieldset {
  @apply pb-12;
}

formform#gform_3 .gchoice label {
  @apply italic text-base;
}

formform#gform_3 .gfield_label {
  @apply text-2xl pb-4;
  font-family: 'DM Serif Text', serif;
}

formform#gform_3 .gfield_description {
  @apply text-base inline-block italic pl-2;
}

formform#gform_3 .gfield_radio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

formform#gform_3 .gfield_radio .gchoice {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding-right: 8px;
  padding-bottom: 16px;
}

formform#gform_3 #field_1_4,
formform#gform_3 #field_3_4 {
  @apply inline-block w-full;
  max-width: 400px;
}

formform#gform_3 #field_1_5,
formform#gform_3 #field_3_5 {
  @apply ml-4 inline-block;
}

formform#gform_3 #field_1_5 .gfield_label,
formform#gform_3 #field_3_5 .gfield_label,
formform#gform_3 .gform_validation_container {
  @apply hidden;
}

formform#gform_3 .ginput_container_text input[type=text],
formform#gform_3 .ginput_container_email input[type=email] {
  @apply w-full p-2;
  max-width: 400px;
}

formform#gform_3 #field_submit {
  @apply bg-white text-black inline absolute right-0 bottom-16 p-6 hover:cursor-pointer hover:bg-black hover:text-white;
}

body #gform_wrapper_1 #field_submit span:after,
body #gform_wrapper_3 #field_submit span:after,
.gform_wrapper formform#gform_3 .gfield input#gform_submit_button_3 span:after {
  @apply text-black text-lg;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='14' fill='none' viewBox='0 0 30 14'%3E%3Cpath fill='%233F3E3D' d='M16.802 5.885H4.439L0 .065h12.19l4.612 5.82Zm0 1.871L12.234 13.6H.012l4.439-5.844h12.351ZM30 6.825c-1.5.688-2.92 1.654-4.216 2.868-1.113 1.05-2.06 2.377-2.788 3.907a6.307 6.307 0 0 1-.525-1.316 5.284 5.284 0 0 1-.186-1.39 6.813 6.813 0 0 1 .186-1.634 8.04 8.04 0 0 1 .525-1.545h-5.854V5.844h5.854a7.464 7.464 0 0 1-.525-1.52 6.897 6.897 0 0 1-.186-1.635c0-.466.063-.928.186-1.365.128-.471.305-.917.525-1.324.701 1.53 1.63 2.853 2.732 3.89 1.31 1.246 2.748 2.235 4.272 2.935Z'/%3E%3C/svg%3E%0A");
}

#field_submit:hover span:after {
  filter: invert(1);
}

body #gform_wrapper_1 #field_submit INPUT[type=submit],
body #gform_wrapper_3 #field_submit INPUT[type=submit] {
  @apply pr-4 text-4xl;
}

.word-count-wrapper {
  @apply italic text-sm;
}

.bg-praise-and-thanksgiving {
  @apply bg-cream;
}

.bg-trusting-without-resolution {
  @apply bg-blue;
}

.bg-healing-moment {
  @apply bg-primary;
}

.bg-his-ways-are-perfect {
  @apply bg-secondary;
}

.bg-god-provided {
  @apply bg-tertiary;
}

.bg-miracle {
  @apply bg-yellow;
}

.bg-walking-in-faith {
  @apply bg-white;
}

/* icons */
.category-icon {
  @apply text-center mb-8 pb-8 bg-no-repeat bg-contain bg-center w-[26px] h-[26px];
}

.icon-praise-and-thanksgiving {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='39' fill='none' viewBox='0 0 39 39'%3E%3Cpath fill='%233F3E3D' d='M24.389 19.055a5.568 5.568 0 0 0 2.344-.463 8.105 8.105 0 0 0 2.345-1.923 9.13 9.13 0 0 1 2.471-2.06 5.458 5.458 0 0 1 2.29-.445 4.968 4.968 0 0 1 3.69 1.516 5.685 5.685 0 0 1 0 7.631 4.925 4.925 0 0 1-3.69 1.515 5.46 5.46 0 0 1-2.29-.435 9.131 9.131 0 0 1-2.471-2.06 8.176 8.176 0 0 0-2.345-1.933 5.568 5.568 0 0 0-2.344-.463h-1.327a4.082 4.082 0 0 1-1.054 2.06 4.174 4.174 0 0 1-2.063 1.053V24.4a6.236 6.236 0 0 0 2.263 4.474l.082.1a9.149 9.149 0 0 1 2.099 2.504 5.44 5.44 0 0 1 .482 2.332 4.966 4.966 0 0 1-1.518 3.712 5.711 5.711 0 0 1-7.67 0 4.973 4.973 0 0 1-1.517-3.712 5.44 5.44 0 0 1 .464-2.332 9.077 9.077 0 0 1 2.035-2.45 8.63 8.63 0 0 0 1.963-2.35 5.229 5.229 0 0 0 .463-2.278v-1.352a4.01 4.01 0 0 1-2.072-1.053 4.145 4.145 0 0 1-1.044-2.06H14.62a5.331 5.331 0 0 0-2.381.49 8.492 8.492 0 0 0-2.336 1.96A7.576 7.576 0 0 1 7.66 24.31a5.595 5.595 0 0 1-2.49.517 4.922 4.922 0 0 1-3.69-1.515 5.658 5.658 0 0 1 0-7.631 4.943 4.943 0 0 1 3.69-1.516 5.367 5.367 0 0 1 2.417.5 7.912 7.912 0 0 1 2.317 1.95 8.592 8.592 0 0 0 2.336 1.951c.745.345 1.56.512 2.38.49h1.355c.15-.77.511-1.483 1.045-2.06a4.01 4.01 0 0 1 2.071-1.043V14.59a5.437 5.437 0 0 0-.481-2.35 8.034 8.034 0 0 0-1.99-2.324 9.075 9.075 0 0 1-1.963-2.386 5.249 5.249 0 0 1-.49-2.35 4.985 4.985 0 0 1 1.517-3.712 5.738 5.738 0 0 1 7.67 0A4.99 4.99 0 0 1 24.87 5.18a5.44 5.44 0 0 1-.464 2.342 8.86 8.86 0 0 1-2.017 2.395 8.797 8.797 0 0 0-2.054 2.432 5.438 5.438 0 0 0-.436 2.26v1.36a3.736 3.736 0 0 1 3.117 3.104l1.372-.018Z'/%3E%3C/svg%3E%0A");
}

.icon-trusting-without-resolution {
 background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='39' fill='none' viewBox='0 0 39 39'%3E%3Cpath fill='%233F3E3D' d='M23.7 18.351c2.755-.672 5.207-1.208 7.357-1.607a29.55 29.55 0 0 1 4.404-.6 3.678 3.678 0 0 1 2.562.909 2.97 2.97 0 0 1 .971 2.316 3.089 3.089 0 0 1-.908 2.38 3.632 3.632 0 0 1-2.58.908 29.146 29.146 0 0 1-4.404-.59c-2.125-.391-4.541-.91-7.384-1.572l-.081.272a5.367 5.367 0 0 1-.4.909l1.998 1.28c6.055 3.815 9.082 6.486 9.082 8.011a3.16 3.16 0 0 1-.972 2.262 3.068 3.068 0 0 1-2.252.98c-1.544 0-4.238-3.027-8.083-9.082l-1.226-1.944c-.2.11-.39.2-.581.282a4.497 4.497 0 0 1-.618.2c.672 2.822 1.205 5.304 1.598 7.448.303 1.449.497 2.918.582 4.396a3.534 3.534 0 0 1-.909 2.525 3.042 3.042 0 0 1-2.325.962 3.007 3.007 0 0 1-2.352-.962 3.725 3.725 0 0 1-.908-2.607 29.3 29.3 0 0 1 .59-4.35c.39-2.117.909-4.542 1.599-7.358a1.986 1.986 0 0 1-.518-.136 4.66 4.66 0 0 1-.627-.29l-.908 1.434c-4.026 6.407-6.83 9.61-8.41 9.61a3.097 3.097 0 0 1-2.261-.963 3.06 3.06 0 0 1-.908-2.234c0-1.508 2.845-4.078 8.537-7.711l2.397-1.544a4.9 4.9 0 0 1-.263-.536 8.25 8.25 0 0 1-.272-.663c-2.55.605-4.899 1.093-7.048 1.462a32.55 32.55 0 0 1-4.66.536 3.905 3.905 0 0 1-2.606-.8 2.798 2.798 0 0 1-.908-2.234 3.352 3.352 0 0 1 .908-2.48 3.414 3.414 0 0 1 2.525-.908c1.327.1 2.645.3 3.942.6 2.01.4 4.598.972 7.765 1.716.056-.223.129-.441.218-.654.078-.208.176-.408.29-.599l-2.979-1.89c-5.394-3.39-8.092-5.848-8.092-7.374a3.515 3.515 0 0 1 3.279-3.27c1.49 0 4.132 2.979 7.929 8.937a87.277 87.277 0 0 0 1.326 2.08 5.496 5.496 0 0 1 1.171-.481 164.658 164.658 0 0 1-1.57-7.384 28.774 28.774 0 0 1-.582-4.406 3.633 3.633 0 0 1 .908-2.552 2.987 2.987 0 0 1 2.325-.98 3.052 3.052 0 0 1 2.334.907 3.57 3.57 0 0 1 .908 2.525 29.664 29.664 0 0 1-.6 4.351 158.157 158.157 0 0 1-1.58 7.412c.245.066.484.148.718.245.205.084.4.19.581.318l1.363-2.126c3.778-6 6.43-9 7.956-9a3.096 3.096 0 0 1 2.234.998 3.162 3.162 0 0 1 .98 2.28c0 1.544-2.651 3.966-7.955 7.266l-3.115 1.944c.181.373.3.636.372.8.073.163.045.281.136.426Z'/%3E%3C/svg%3E%0A");
}

.icon-healing-moment {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='39' fill='none' viewBox='0 0 39 39'%3E%3Cpath fill='%233F3E3D' d='M39 26.06H26.109V39H12.947V26.06H0V12.893h12.947V0h13.134v12.894H39v13.165Zm-13.162-.281V13.184H13.2v12.614l12.64-.02Z'/%3E%3C/svg%3E%0A");
}

.icon-his-ways-are-perfect {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='39' fill='none' viewBox='0 0 39 39'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23000' d='m39 20.507-15.903-.272 14.77 5.79-.794 1.874-14.519-6.352 11.46 11.008-1.478 1.48-10.992-11.439 6.333 14.484-1.871.852-5.79-14.849.336 15.927h-2.086l.355-15.926-5.78 14.848-1.918-.852 6.351-14.484-11.01 11.41-1.46-1.48 11.441-10.979L1.9 27.945l-.767-1.873 14.743-5.79-15.903.328v-2.145l15.903.356-14.743-5.79.767-1.873 14.556 6.426L4.995 6.55l1.46-1.453 11.01 11.411-6.361-14.633 1.918-.825 5.78 14.82-.355-15.925h2.087l-.337 15.926 5.79-14.82 1.871.824-6.314 14.54L32.536 5.002l1.478 1.452-11.46 11.036 14.528-6.427.795 1.874-14.771 5.799 15.903-.356-.01 2.126Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h39v39H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.icon-god-provided {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='39' fill='none' viewBox='0 0 39 39'%3E%3Cpath fill='%233F3E3D' d='M33.951 16.313c.236-.12.485-.212.743-.272A3.544 3.544 0 0 1 39 19.493a3.46 3.46 0 0 1-1.024 2.537 3.408 3.408 0 0 1-2.51 1.024 3.153 3.153 0 0 1-.77-.1 5.08 5.08 0 0 1-.744-.244v.1a3.333 3.333 0 0 1-1.015 2.473 3.626 3.626 0 0 1-5.04 0 3.378 3.378 0 0 1-1.032-2.51c0-.417.083-.83.244-1.214.185-.443.436-.855.744-1.223h-7.495v7.511a5.325 5.325 0 0 1 1.223-.743c.388-.16.804-.24 1.224-.235a3.544 3.544 0 0 1 3.534 3.524 3.432 3.432 0 0 1-1.015 2.51 3.336 3.336 0 0 1-2.465 1.023h-.109c.104.258.183.525.236.798.053.235.08.475.081.716a3.425 3.425 0 0 1-1.024 2.519 3.535 3.535 0 0 1-5.012 0 3.462 3.462 0 0 1-1.024-2.52 3.91 3.91 0 0 1 .317-1.513h-.108a3.335 3.335 0 0 1-2.466-1.023 3.552 3.552 0 0 1 2.52-6.034c.42-.001.835.079 1.224.235.443.183.856.434 1.223.743v-7.511H11.23c.303.368.547.78.725 1.223.152.387.229.799.227 1.214a3.434 3.434 0 0 1-2.2 3.288 3.389 3.389 0 0 1-1.407.218 3.426 3.426 0 0 1-2.502-1.005A3.307 3.307 0 0 1 5.05 22.8v-.1c-.241.101-.49.183-.743.245-.252.065-.51.099-.77.1a3.408 3.408 0 0 1-2.511-1.024 3.462 3.462 0 0 1-1.024-2.537 3.542 3.542 0 0 1 3.534-3.533 3.542 3.542 0 0 1 1.514.353v-.136a3.315 3.315 0 0 1 1.024-2.455 3.571 3.571 0 0 1 5.012 0 3.55 3.55 0 0 1 .788 3.769 4.605 4.605 0 0 1-.715 1.196h7.486v-7.511a5.05 5.05 0 0 1-1.224.743 3.137 3.137 0 0 1-1.224.244 3.563 3.563 0 0 1-3.465-4.227 3.56 3.56 0 0 1 .946-1.816 3.335 3.335 0 0 1 2.465-1.024h.109a3.95 3.95 0 0 1-.317-1.54 3.443 3.443 0 0 1 1.024-2.51 3.535 3.535 0 0 1 6.036 2.51c0 .265-.027.529-.082.788-.048.26-.127.512-.235.752h.108a3.363 3.363 0 0 1 2.456 1.024 3.534 3.534 0 0 1-2.51 6.043 3.136 3.136 0 0 1-1.224-.244 5.02 5.02 0 0 1-1.223-.743v7.51h7.495a4.683 4.683 0 0 1-.734-1.195 3.135 3.135 0 0 1-.254-1.241 3.57 3.57 0 0 1 6.072-2.537 3.334 3.334 0 0 1 1.016 2.455l.072.154Z'/%3E%3C/svg%3E%0A");
}

.icon-miracle {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='39' fill='none' viewBox='0 0 39 39'%3E%3Cpath fill='%233F3E3D' d='M39 27.509v.216l-.282.056-.272-.056-13.112-2.4 2.421 13.347-.16.328h-.112a.667.667 0 0 1-.272-.131.94.94 0 0 1-.197-.197l-7.51-10.929-7.508 10.929a.797.797 0 0 1-.179.178.827.827 0 0 1-.262.15l-.226-.047-.056-.281 2.422-13.347L.328 27.743 0 27.584V27.5a1.19 1.19 0 0 1 .15-.29 1.05 1.05 0 0 1 .178-.179l10.945-7.554L.328 11.978a1.255 1.255 0 0 1-.187-.196A1.03 1.03 0 0 1 0 11.538l.056-.197.272-.103 13.367 2.409L11.329.609l-.056-.272.169-.337h.113c.072.038.14.082.206.131a1.4 1.4 0 0 1 .235.206l7.509 10.9 7.509-10.9a.882.882 0 0 1 .206-.234.62.62 0 0 1 .263-.103l.16.056.112.281L27.7.61l-2.365 13.038L38.4 11.286h.273l.328.16v.14a.628.628 0 0 1-.122.234c-.06.078-.129.147-.206.206l-10.917 7.498 10.917 7.555c.075.072.144.15.206.234.046.063.087.128.122.197Z'/%3E%3C/svg%3E%0A");
}

.icon-walking-in-faith {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='39' fill='none' viewBox='0 0 39 39'%3E%3Cpath fill='%233F3E3D' d='M38.962 33.477H37.38c-.57-4.142-2.166-7.218-4.789-9.226-2.623-2.008-6.452-3.063-11.488-3.163.114 5.02 1.182 8.887 3.18 11.498 1.999 2.61 5.09 4.192 9.263 4.757V39c-3.552-.15-6.485-.264-8.798-.339-2.287 0-4.021-.1-5.165-.1-1.144 0-2.941 0-5.267.1-2.325.1-5.253.188-8.797.339v-1.657c4.147-.535 7.235-2.117 9.263-4.745 2.023-2.623 3.117-6.464 3.255-11.51-5.028.1-8.861 1.142-11.5 3.15-2.64 2.009-4.261 5.021-4.877 9.239H0c.176-3.427.289-6.276.364-8.661.076-2.385.114-4.092.114-5.272 0-1.18 0-2.9-.114-5.234C.251 11.975.176 9.05 0 5.523h1.659c.545 4.142 2.132 7.218 4.763 9.226 2.631 2.008 6.503 3.088 11.614 3.238-.113-5.02-1.17-8.874-3.142-11.472-1.974-2.599-5.028-4.218-9.301-4.858V0c3.469.15 6.36.264 8.697.339 2.338.075 4.085.1 5.267.1 1.181 0 2.878 0 5.165-.1C27.01.239 29.951.15 33.52 0v1.657c-4.19.56-7.277 2.155-9.263 4.782-1.998 2.624-3.067 6.477-3.18 11.548 5.028-.1 8.798-1.142 11.45-3.15 2.652-2.009 4.236-5.021 4.826-9.239H39a697.272 697.272 0 0 0-.327 8.16 184.394 184.394 0 0 0-.113 5.736c0 1.494 0 3.44.113 5.774.113 2.335.151 5.096.29 8.209Z'/%3E%3C/svg%3E%0A");
}

.short-story {
  @apply text-4xl;
  font-family: 'DM Serif Text', serif;
}
