//
// Typography
//

// Elgoc
@font-face {
    font-family: 'Elgoc Alt SemBd';
    src: url('../../../assets/fonts/elgoc/ElgocAlt-SemiBold.eot');
    src: url('../../../assets/fonts/elgoc/ElgocAlt-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/elgoc/ElgocAlt-SemiBold.woff2') format('woff2'),
        url('../../../assets/fonts/elgoc/ElgocAlt-SemiBold.woff') format('woff'),
        url('../../../assets/fonts/elgoc/ElgocAlt-SemiBold.ttf') format('truetype'),
        url('../../../assets/fonts/elgoc/ElgocAlt-SemiBold.svg#ElgocAlt-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Elgoc Alt Med';
    src: url('../../../assets/fonts/elgoc/ElgocAlt-Medium.eot');
    src: url('../../../assets/fonts/elgoc/ElgocAlt-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Medium.woff2') format('woff2'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Medium.woff') format('woff'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Medium.ttf') format('truetype'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Medium.svg#ElgocAlt-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Elgoc Alt';
    src: url('../../../assets/fonts/elgoc/ElgocAlt-Regular.eot');
    src: url('../../../assets/fonts/elgoc/ElgocAlt-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Regular.woff2') format('woff2'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Regular.woff') format('woff'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Regular.ttf') format('truetype'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Regular.svg#ElgocAlt-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Elgoc Alt';
    src: url('../../../assets/fonts/elgoc/ElgocAlt-Light.eot');
    src: url('../../../assets/fonts/elgoc/ElgocAlt-Light.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Light.woff2') format('woff2'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Light.woff') format('woff'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Light.ttf') format('truetype'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Light.svg#ElgocAlt-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Elgoc Alt';
    src: url('../../../assets/fonts/elgoc/ElgocAlt-Bold.eot');
    src: url('../../../assets/fonts/elgoc/ElgocAlt-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Bold.woff2') format('woff2'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Bold.woff') format('woff'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Bold.ttf') format('truetype'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Bold.svg#ElgocAlt-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Elgoc';
//     src: url('../../../assets/fonts/elgoc/Elgoc-Regular.eot');
//     src: url('../../../assets/fonts/elgoc/Elgoc-Regular.eot?#iefix') format('embedded-opentype'),
//         url('../../../assets/fonts/elgoc/Elgoc-Regular.woff2') format('woff2'),
//         url('../../../assets/fonts/elgoc/Elgoc-Regular.woff') format('woff'),
//         url('../../../assets/fonts/elgoc/Elgoc-Regular.ttf') format('truetype'),
//         url('../../../assets/fonts/elgoc/Elgoc-Regular.svg#Elgoc-Regular') format('svg');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'Elgoc Alt';
    src: url('../../../assets/fonts/elgoc/ElgocAlt-Thin.eot');
    src: url('../../../assets/fonts/elgoc/ElgocAlt-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Thin.woff2') format('woff2'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Thin.woff') format('woff'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Thin.ttf') format('truetype'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Thin.svg#ElgocAlt-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Elgoc SemBd';
    src: url('../../../assets/fonts/elgoc/Elgoc-SemiBold.eot');
    src: url('../../../assets/fonts/elgoc/Elgoc-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/elgoc/Elgoc-SemiBold.woff2') format('woff2'),
        url('../../../assets/fonts/elgoc/Elgoc-SemiBold.woff') format('woff'),
        url('../../../assets/fonts/elgoc/Elgoc-SemiBold.ttf') format('truetype'),
        url('../../../assets/fonts/elgoc/Elgoc-SemiBold.svg#Elgoc-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Elgoc';
//     src: url('../../../assets/fonts/elgoc/Elgoc-Light.eot');
//     src: url('../../../assets/fonts/elgoc/Elgoc-Light.eot?#iefix') format('embedded-opentype'),
//         url('../../../assets/fonts/elgoc/Elgoc-Light.woff2') format('woff2'),
//         url('../../../assets/fonts/elgoc/Elgoc-Light.woff') format('woff'),
//         url('../../../assets/fonts/elgoc/Elgoc-Light.ttf') format('truetype'),
//         url('../../../assets/fonts/elgoc/Elgoc-Light.svg#Elgoc-Light') format('svg');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'Elgoc Alt ExtBd';
    src: url('../../../assets/fonts/elgoc/ElgocAlt-ExtraBold.eot');
    src: url('../../../assets/fonts/elgoc/ElgocAlt-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/elgoc/ElgocAlt-ExtraBold.woff2') format('woff2'),
        url('../../../assets/fonts/elgoc/ElgocAlt-ExtraBold.woff') format('woff'),
        url('../../../assets/fonts/elgoc/ElgocAlt-ExtraBold.ttf') format('truetype'),
        url('../../../assets/fonts/elgoc/ElgocAlt-ExtraBold.svg#ElgocAlt-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Elgoc Med';
    src: url('../../../assets/fonts/elgoc/Elgoc-Medium.eot');
    src: url('../../../assets/fonts/elgoc/Elgoc-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/elgoc/Elgoc-Medium.woff2') format('woff2'),
        url('../../../assets/fonts/elgoc/Elgoc-Medium.woff') format('woff'),
        url('../../../assets/fonts/elgoc/Elgoc-Medium.ttf') format('truetype'),
        url('../../../assets/fonts/elgoc/Elgoc-Medium.svg#Elgoc-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Elgoc';
//     src: url('../../../assets/fonts/elgoc/Elgoc-Bold.eot');
//     src: url('../../../assets/fonts/elgoc/Elgoc-Bold.eot?#iefix') format('embedded-opentype'),
//         url('../../../assets/fonts/elgoc/Elgoc-Bold.woff2') format('woff2'),
//         url('../../../assets/fonts/elgoc/Elgoc-Bold.woff') format('woff'),
//         url('../../../assets/fonts/elgoc/Elgoc-Bold.ttf') format('truetype'),
//         url('../../../assets/fonts/elgoc/Elgoc-Bold.svg#Elgoc-Bold') format('svg');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'Elgoc';
    src: url('../../../assets/fonts/elgoc/Elgoc-Thin.eot');
    src: url('../../../assets/fonts/elgoc/Elgoc-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/elgoc/Elgoc-Thin.woff2') format('woff2'),
        url('../../../assets/fonts/elgoc/Elgoc-Thin.woff') format('woff'),
        url('../../../assets/fonts/elgoc/Elgoc-Thin.ttf') format('truetype'),
        url('../../../assets/fonts/elgoc/Elgoc-Thin.svg#Elgoc-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Elgoc Alt';
    src: url('../../../assets/fonts/elgoc/ElgocAlt-Black.eot');
    src: url('../../../assets/fonts/elgoc/ElgocAlt-Black.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Black.woff2') format('woff2'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Black.woff') format('woff'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Black.ttf') format('truetype'),
        url('../../../assets/fonts/elgoc/ElgocAlt-Black.svg#ElgocAlt-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Elgoc';
//     src: url('../../../assets/fonts/elgoc/Elgoc-Black.eot');
//     src: url('../../../assets/fonts/elgoc/Elgoc-Black.eot?#iefix') format('embedded-opentype'),
//         url('../../../assets/fonts/elgoc/Elgoc-Black.woff2') format('woff2'),
//         url('../../../assets/fonts/elgoc/Elgoc-Black.woff') format('woff'),
//         url('../../../assets/fonts/elgoc/Elgoc-Black.ttf') format('truetype'),
//         url('../../../assets/fonts/elgoc/Elgoc-Black.svg#Elgoc-Black') format('svg');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'Elgoc ExtBd';
    src: url('../../../assets/fonts/elgoc/Elgoc-ExtraBold.eot');
    src: url('../../../assets/fonts/elgoc/Elgoc-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/elgoc/Elgoc-ExtraBold.woff2') format('woff2'),
        url('../../../assets/fonts/elgoc/Elgoc-ExtraBold.woff') format('woff'),
        url('../../../assets/fonts/elgoc/Elgoc-ExtraBold.ttf') format('truetype'),
        url('../../../assets/fonts/elgoc/Elgoc-ExtraBold.svg#Elgoc-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

// Apercu
@font-face {
    font-family: 'Apercu';
    src: url('../../../assets/fonts/apercu/Apercu-Medium.eot');
    src: url('../../../assets/fonts/apercu/Apercu-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/apercu/Apercu-Medium.woff2') format('woff2'),
        url('../../../assets/fonts/apercu/Apercu-Medium.woff') format('woff'),
        url('../../../assets/fonts/apercu/Apercu-Medium.ttf') format('truetype'),
        url('../../../assets/fonts/apercu/Apercu-Medium.svg#Apercu-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('../../../assets/fonts/apercu/Apercu-LightItalic.eot');
    src: url('../../../assets/fonts/apercu/Apercu-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/apercu/Apercu-LightItalic.woff2') format('woff2'),
        url('../../../assets/fonts/apercu/Apercu-LightItalic.woff') format('woff'),
        url('../../../assets/fonts/apercu/Apercu-LightItalic.ttf') format('truetype'),
        url('../../../assets/fonts/apercu/Apercu-LightItalic.svg#Apercu-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('../../../assets/fonts/apercu/Apercu-MediumItalic.eot');
    src: url('../../../assets/fonts/apercu/Apercu-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/apercu/Apercu-MediumItalic.woff2') format('woff2'),
        url('../../../assets/fonts/apercu/Apercu-MediumItalic.woff') format('woff'),
        url('../../../assets/fonts/apercu/Apercu-MediumItalic.ttf') format('truetype'),
        url('../../../assets/fonts/apercu/Apercu-MediumItalic.svg#Apercu-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('../../../assets/fonts/apercu/Apercu-BoldItalic.eot');
    src: url('../../../assets/fonts/apercu/Apercu-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/apercu/Apercu-BoldItalic.woff2') format('woff2'),
        url('../../../assets/fonts/apercu/Apercu-BoldItalic.woff') format('woff'),
        url('../../../assets/fonts/apercu/Apercu-BoldItalic.ttf') format('truetype'),
        url('../../../assets/fonts/apercu/Apercu-BoldItalic.svg#Apercu-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('../../../assets/fonts/apercu/Apercu-Light.eot');
    src: url('../../../assets/fonts/apercu/Apercu-Light.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/apercu/Apercu-Light.woff2') format('woff2'),
        url('../../../assets/fonts/apercu/Apercu-Light.woff') format('woff'),
        url('../../../assets/fonts/apercu/Apercu-Light.ttf') format('truetype'),
        url('../../../assets/fonts/apercu/Apercu-Light.svg#Apercu-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('../../../assets/fonts/apercu/Apercu-Bold.eot');
    src: url('../../../assets/fonts/apercu/Apercu-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/apercu/Apercu-Bold.woff2') format('woff2'),
        url('../../../assets/fonts/apercu/Apercu-Bold.woff') format('woff'),
        url('../../../assets/fonts/apercu/Apercu-Bold.ttf') format('truetype'),
        url('../../../assets/fonts/apercu/Apercu-Bold.svg#Apercu-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('../../../assets/fonts/apercu/Apercu-Italic.eot');
    src: url('../../../assets/fonts/apercu/Apercu-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/apercu/Apercu-Italic.woff2') format('woff2'),
        url('../../../assets/fonts/apercu/Apercu-Italic.woff') format('woff'),
        url('../../../assets/fonts/apercu/Apercu-Italic.ttf') format('truetype'),
        url('../../../assets/fonts/apercu/Apercu-Italic.svg#Apercu-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('../../../assets/fonts/apercu/ApercuPro.eot');
    src: url('../../../assets/fonts/apercu/ApercuPro.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/apercu/ApercuPro.woff2') format('woff2'),
        url('../../../assets/fonts/apercu/ApercuPro.woff') format('woff'),
        url('../../../assets/fonts/apercu/ApercuPro.ttf') format('truetype'),
        url('../../../assets/fonts/apercu/ApercuPro.svg#ApercuPro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    line-height: 1.6;
    font-size: 1rem;
    letter-spacing: 1px;

}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
    font-weight: 400;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'Elgoc', 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-weight: 400;
}
